# Wordpress Specific
sites/default/drupal-config/setting.local.php

# Numerous always-ignore extensions
*.sass-cache

# OS or Editor folders

# Dreamweaver added files

# Komodo

# Folders to ignore
node_modules
bower_components
.htaccess

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/services*.yml

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore SimpleTest multi-site environment.
sites/simpletest

# Ignore core phpcs.xml and phpunit.xml.
core/phpcs.xml
core/phpunit.xml
